@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root { --cyan: #00f2ff; --purple: #bc13fe; --blue: #3d5afe; --red: #ff3d00; }
body { background: #02050a; color: #e0e0e0; font-family: 'Orbitron', sans-serif; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; overflow: hidden; }

/* Animasi Masuk */
.animate-in { animation: zoomIn 0.4s cubic-bezier(0.4, 0, 0.2, 1); }
@keyframes zoomIn {
    from { opacity: 0; transform: scale(0.8); filter: blur(10px); }
    to { opacity: 1; transform: scale(1); filter: blur(0); }
}

.box { background: rgba(10, 15, 25, 0.9); backdrop-filter: blur(15px); border: 2px solid rgba(255, 255, 255, 0.1); padding: 25px; border-radius: 20px; width: 340px; text-align: center; z-index: 10; transition: 0.3s; }
.glow-cyan { border-color: var(--cyan); box-shadow: 0 0 20px rgba(0, 242, 255, 0.3); }
.glow-purple { border-color: var(--purple); box-shadow: 0 0 20px rgba(188, 19, 254, 0.3); }
.glow-blue { border-color: var(--blue); box-shadow: 0 0 20px rgba(61, 90, 254, 0.3); }

.hidden { display: none !important; }
input, select, button { width: 100%; padding: 12px; margin: 8px 0; border-radius: 12px; background: rgba(0,0,0,0.5); color: white; border: 1px solid #333; box-sizing: border-box; font-family: 'Orbitron'; outline: none; }
input[type="datetime-local"] { color-scheme: dark; }

button { background: var(--cyan); color: #000; font-weight: bold; cursor: pointer; border: none; transition: 0.2s; }
button:hover { filter: brightness(1.2); transform: translateY(-2px); }
.btn-opt { background: rgba(255,255,255,0.05); color: white; text-align: left; padding-left: 20px; border: 1px solid #222; }
.btn-opt i { color: var(--cyan); margin-right: 15px; }
.btn-logout { border: 1px solid var(--red); color: var(--red); background: transparent; }
.btn-back { background: #333; color: white; margin-top: 10px; }

.info-card { background: rgba(0,0,0,0.4); padding: 12px; border-radius: 12px; margin-bottom: 20px; border-left: 4px solid var(--cyan); text-align: left; }
.info-row { font-size: 11px; margin: 4px 0; display: flex; align-items: center; gap: 10px; }
.item-card { border: 1px solid #333; margin: 10px 0; padding: 10px; border-radius: 10px; background: rgba(255,255,255,0.05); text-align: left; }
.scroll-area { max-height: 250px; overflow-y: auto; }
canvas { position: absolute; top: 0; left: 0; z-index: 1; }
